* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header styles */

.header {
    background-color: rgba(229, 84, 115, 0.10);
    background-image: linear-gradient(#D65BCA, #21D190);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 50px 200px 0;
}

.header-content {
    padding-right: 250px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 750;
    margin-bottom: 35px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border: 0;
}

/* main styles */

/* hot deal styles */

.hot-deal {
    border-radius: 8px;
    /* background: rgba(229, 84, 115, 0.05); */
    background-image: linear-gradient(#7EE8FA, #EEC0C6);
    display: flex;
    align-items: center;
    padding: 100px 425px;
    margin-bottom: 120px;
}

.deal-content {
    padding-right: 200px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.text-primary {
    color: #E55473;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.deal-btn {
    text-align: center;
}

/* instagram styles */

.common-section {
    max-width: 1440px;
    margin: 0 auto 130px;
}

.insta-content {
    text-align: center;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 0 400px;
}

.insta-photos {
    display: flex;
    gap: 25px;
}

/* latest deal style */

#deal {
    background-image: url("../images/Rectangle\ 9.png");
}

.latest-deal {
    text-align: center;
    padding: 125px 0;
}

.email {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 35px;
    border: 0;
    width: 600px;
    margin-right: 15px;
}