* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header styles */

.header {
    background-color: rgba(229, 84, 115, 0.10);
    background-image: linear-gradient(#D65BCA, #21D190);
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 130px 0;
    margin-bottom: 150px;
}

.header-content {
    padding-right: 200px;
}

.header-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
}

#hdr-img {
    width: 400px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 30px;
    border: 0;
}

/* main styles */

.common-section {
    max-width: 1085px;
    margin: 0 auto 130px;
}

/* our feature flowers section */

.feature-flowers {
    text-align: center;
}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 100px;
    padding: 0 300px;
}

.feature-photo {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feature-img {
    width: 347px;
    border-radius: 300px 300px 0px 0px;
}

#img1 {
    background-color: rgba(167, 33, 98, 0.15);
}

#img2 {
    background: rgba(5, 151, 160, 0.15);
}

#img3 {
    background: rgba(71, 125, 17, 0.15);
}

#ftr-img1 {
    width: 300px;
    padding-top: 100px;
}

#ftr-img2 {
    width: 300px;
    padding-top: 116px;
    padding-bottom: 100px;
}

#ftr-img3 {
    width: 300px;
    padding-top: 65px;
}

.image-name {
    display: inline-block;
    margin: 0 120px;
    color: #272727;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* order and specialty now styles  */

.specialty {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 100px 100px;
}

.specialty-category > p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 30px;
}


/* hot deal styles */

.hot-deal {
    border-radius: 8px;
    background-image: linear-gradient(#7EE8FA, #EEC0C6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 220px;
    margin-bottom: 120px;
}

.deal-content {
    padding-right: 150px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.text-primary {
    color: #E55473;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
}

.deal-photo {
    width: 200px;
}

.deal-btn {
    text-align: center;
}

/* Order now styles */

.order-and-specialty {
    background-image: linear-gradient(#ede574, #e1f5c4);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-now-content {
    padding-right: 150px;
}

.order-now-content>h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.order-now-form input[type="text"],
.order-now-form input[type="email"],
textarea {
    margin-bottom: 25px;
    padding: 12px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.wcu-title {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.why-choose-us {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
}

/* instagram styles */

.insta-content {
    text-align: center;
}

.insta-title {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 0 300px;
}

.insta-photos {
    display: flex;
    justify-content: space-between;
}

.insta-photos>img {
    width: 250px;
}

/* latest deal style */

#deal {
    background-image: url("../images/Rectangle\ 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.latest-deal {
    text-align: center;
    padding: 125px 0;
}

.email {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 35px;
    border: 0;
    width: 600px;
    margin-right: 15px;
}

/* footer styles */

footer {
    background-image: linear-gradient(#0D324D, #7F5A83);
    text-align: center;
    padding: 130px 0;
}

.footer-title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.footer-description {
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 13px;
    font-weight: 400;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 11px;
    font-weight: 400;
}